<div class="flex flex-col justify-center items-center min-h-[75%]">
  <%= render 'partials/home' %>
  <div>
    <div>
      short link: <a href="http://127.0.0.1:3000/<%= @url.short %>" target="_blank" class="hover:text-blue-500 hover:underline">paut.my/<%= @url.short %></a>
    </div>
  </div>
</div>