<div class="flex flex-col justify-center items-center min-h-[80%] text-xl gap-2">
  <%= render 'partials/navbar' %>
  <%= render 'partials/alert', message: "Shortening process failed! " %>
  <%= render "partials/forms/url", url: @url %>
  <%= link_to "analytics", search_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
</div>
